{% extends 'base.html.twig' %}

{% block title %}Infoox School{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <main id="home">
        {% block sliderPrincipale %}
        <div id="sliderPrincipaleInfooxJs" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="{{ asset("slider/pc/image1.png") }}" class="d-block w-100" alt="infoox bienvenu">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{ asset("slider/pc/image3.png") }}" class="d-block w-100" alt="infoox appel">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset("slider/pc/image2.png") }}" class="d-block w-100" alt="infoox bienvenu aux élèves">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#sliderPrincipaleInfooxJs" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sliderPrincipaleInfooxJs" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    {% endblock %}
        <div {{ vue_component('examens') }}></div>
        <!-- debut des filieres  -->
        <div class="filieres ">
            <div class="navbar2Infoox">
                <div class="containerInfoox">
                    <ul>
                        <li class="nolienkInfoox">
                            Filières :
                        </li>
                        <li>
                            <a @click="getElement" class=" active" data-bs-toggle="collapse" href="#nouveaux" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Nouveaux
                            </a>
                        </li>
                        <li>
                            <a @click="getElement" class="" data-bs-toggle="collapse" href="#astucesScolaires" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Populaires
                            </a>
                        </li>
                        <li>
                            <a @click="getElement" class="" data-bs-toggle="collapse" href="#astucesScolaires" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Meilleures
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="collapse show infooxFiliereContains" id="nouveaux">
                <div class="container">
                    <div class="row">
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                        <div class="col col-4">
                            <a href="#">
                                <img src="{{ asset('/filieres/image.png') }}" style="width: 100%;" alt="default">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- fin des filieres  -->
    </main>
{% endblock %}


